<html>
<head>
<link rel = "icon" href ="/images/fav.png"  type = "image/png" sizes="16x16" > 
  <title>Online Shopping for Women,Men and Kids</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <style>
	.dropdown:hover>.dropdown-menu{
		display: block;
		color: black;
	}
	.X1 {
		width: 700px;
		height: 200px; 
		   }

			.b{
			 width: 100%;
			  }
	.s{
		display: inline-block;
		margin-bottom: 2%;
		font-size: 14px;
	}
	.login{
		text-align: center;
		align-items: center;
		padding:7.5%;
	}
	
</style>
 </head>
<body>
  <div class="container-fluid shadow bg-white" id="im">
  <nav class="navbar navbar-expand-lg " > 
      <ul class="navbar-nav">
	<li class="nav-item"><a href=".html" class="nav-link"> </a></li>
</ul> <ul class="navbar-nav">
	<li class="nav-item"><a href=".html" class="nav-link"> </a></li>
</ul><a href=""><img src="/images/icon.jpg" height="55px" width="55px"></a>
    <ul class="navbar-nav">
	<li class="nav-item"><a href=".html" class="nav-link"> </a></li>
</ul>
    <ul class="navbar-nav ">
     <li class="nav-item"><a href=".html" class="nav-link font-weight-bold ">MEN</a></li>
	 <ul class="navbar-nav">
	<li class="nav-item"><a href=".html" class="nav-link"> </a></li>
</ul>
<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle b font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  WOMEN
	</a>
	<div class="dropdown-menu X1" aria-labelledby="navbarDropdown">
	<div class="row p1 mt-4" >
		<div class="col-sm-4 ml-5">
			<a style="color:palevioletred;" class="s" href="#"><b>indian and Fusion wear</b></a>
			<a class="s link2 link3" href="/kurtas">kurtas & Suits</a>
			<a class="s link2 link3" href="#">Kurtis,Tunics & Tops</a>
			<a class="s link2 link3" href="#">Ethnic Dresses</a><br>
			<a class="s link2 link3" href="#">Skirts & Palazzos</a>
		</div>
		<div class="col">
			<a style="color:palevioletred;"  class="s" href="#"><b>Western wear</b></a>
			<a class="s link2 link3" href="/jumpsuits">Dresses & Jumpsuits</a>
			<a class="s link2 link3" href="#">Tops, T-shirts & Shirts</a>
			<a class="s link2 link3" href="#">Jeans & Jeggings</a><br>
			<a class="s link2 link3" href="#">Shorts & Skirts</a>
		</div>
		<div class="col mr-2">
			<a style="color:palevioletred;"  class="s" href="#"><b>Footwear</b></a><br>
			<a class="s link2 link3" href="#">Flats</a><br>
			<a class="s link2 link3" href="#">Casual Shoes</a><br>
			<a class="s link2 link3" href="#">Heels</a><br>
			<a class="s link2 link3" href="#">Boots</a>
		</div>
	</div>
	</div>
  </li>
				<ul class="navbar-nav">
	<li class="nav-item"><a href=".html" class="nav-link"> </a></li>
</ul>
				<li class="nav-item"><a href=".html" class="nav-link font-weight-bold ">KIDS</a></li>
				<ul class="navbar-nav">
	<li class="nav-item"><a href=".html" class="nav-link"> </a></li>
</ul>
				<li class="nav-item"><a href="" class="nav-link font-weight-bold" style="display:block;">HOME&LIVING</a></li>
				<ul class="navbar-nav">
	<li class="nav-item"><a href=".html" class="nav-link"> </a></li>
</ul>
				<li class="nav-item"><a href="" class="nav-link font-weight-bold">DISCOVER</a></li> 
    </ul>
	<ul class="navbar-nav">
	<li class="nav-item"><a href=".html" class="nav-link"> </a></li>
</ul><ul class="navbar-nav">
	<li class="nav-item"><a href=".html" class="nav-link"> </a></li>
</ul><ul class="navbar-nav">
	<li class="nav-item"><a href=".html" class="nav-link"> </a></li>
</ul>
  <div class="main">
  
  
  <div class="form-group has-search">
    <span class="fa fa-search form-control-feedback "></span>
    <input type="text" class="form-control bg-light " 
	placeholder="Search for products brands and more">
  </div>
  </div>
 <ul class="navbar-nav">
	<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbar1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="far fa-user" id="u" style="font-size: 24px;"></i>
				</a>
				<div class="dropdown-menu" aria-labelledby="navbar1">
				
				   <a class="login" href="/register"><button type="button" class="btn btn-outline-danger">LOGIN/SINUP</button></a>	
				

				</div>
				</li>
				
					<a class="link4" href="/whishlist"><i class="fas fa-shopping-bag" id="s" style="font-size: 24px;"></i></a>
					<i class="far fa-bookmark" id="b" style="font-size: 24px;"></i>
					
					</ul>
					
					
					
				</div>
</nav>
