<%- include("header") -%>
<script>
    
//$('.carousel').on('mouseleave',function(){ $(this).carousel('pause'); });
/*("img").click(function(){
    $("#carouselExampleSlidesOnly").carousel("cycle");
});*/
$(document).ready(function(){
    // Activate the Carousel, but pause it from the start
    $(".k1").carousel("pause");
          
    // Click on the button to start sliding 
    $(".k1").mouseenter(function(){
      $(".k1").carousel("cycle");
    });
  
    // Click on the button to stop sliding 
    $(".k1").mouseleave(function(){
        $("img").html(`<img src="/images/x1.webp">`);
      $(".k1").carousel("pause");
     
    });
    // $(".carousel").carousel("pause");
    // $(".carousel").mouseenter(function(){
    //     $("#id1").html(`<button type=button style="background-color:deeppink;color:white;width:180px;height:40px">Add Whislist</button><br><br><p>Sizes:XS,S,M,L,XL,XXL`);

    //   });
    $(".k2").carousel("pause");
          
          
          $(".k2").mouseenter(function(){
            $(".k2").carousel("cycle");
          });
        
          
          $(".k2").mouseleave(function(){
            $(".k2").carousel("pause");
            $("img").html(`<img src="x1.webp">`);
          });
        //-----------------------------------

          $(".k3").carousel("pause");
          
          
          $(".k3").mouseenter(function(){
            $(".k3").carousel("cycle");
          });
        
          
          $(".k3").mouseleave(function(){
            $(".k3").carousel("pause");
            $("img").html(`<img src="x1.webp">`);
          });
           //-----------------------------------

          $(".k4").carousel("pause");
          
          
          $(".k4").mouseenter(function(){
            $(".k4").carousel("cycle");
          });
        
          
          $(".k4").mouseleave(function(){
            $(".k4").carousel("pause");
            $("img").html(`<img src="x1.webp">`);
          });

          //-------
          $(".k5").carousel("pause");
          
          
          $(".k5").mouseenter(function(){
            $(".k5").carousel("cycle");
          });
        
          
          $(".k5").mouseleave(function(){
            $(".k5").carousel("pause");
            $("img").html(`<img src="x1.webp">`);
          });

          //---------
          $(".k6").carousel("pause");
          
          
          $(".k6").mouseenter(function(){
            $(".k6").carousel("cycle");
          });
        
          
          $(".k6").mouseleave(function(){
            $(".k6").carousel("pause");
            $("img").html(`<img src="x1.webp">`);
          });
          //-----
          $(".k7").carousel("pause");
          
          
          $(".k7").mouseenter(function(){
            $(".k7").carousel("cycle");
          });
        
          
          $(".k7").mouseleave(function(){
            $(".k7").carousel("pause");
            $("img").html(`<img src="x1.webp">`);
          });
//-----
$(".k8").carousel("pause");
          
          
          $(".k8").mouseenter(function(){
            $(".k8").carousel("cycle");
          });
        
          
          $(".k8").mouseleave(function(){
            $(".k8").carousel("pause");
            $("img").html(`<img src="x1.webp">`);
          });
      

  });
</script>
<div class="row m-5">
    <div class="col-sm-3">
        <div class="card" style="width:230px; height:430px;">
            <div id="myCarousel" class="carousel slide k1" data-interval="1500">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                  </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="card-img-top" src="/images/x1.webp" alt="img1" style="height: 260px;">
                    </div>
                    <div class="carousel-item">
                      <img class="card-img-top" src="/images/x2.webp" alt="img1" style="height: 260px;">
                    </div>
                    <div class="carousel-item">
                      <img class="card-img-top" src="/images/x3.webp" alt="img1" style="height: 260px;" >
                    </div>
                    <div class="carousel-item">
                        <img class="card-img-top" src="/images/x4.webp" alt="img1" style="height: 260px;">
                      </div>
                      <div class="carousel-item">
                        <img class="card-img-top" src="/images/x5.webp" alt="img1" style="height: 260px;">
                      </div>
                  </div>
            </div>
            <div class="card-body c1">
              <p class="card-text " id="demo" style="font-size: 13px;"><b>Indo Era Kurta</b><br>
               </p>
               <p>Sizes:XS,S,M,L,XL,XXL
                <b class="m-0" style="font-size: 15px;">Rs.1099 <span style ="opacity: 0.5; text-decoration: line-through; font-size: 12px;">Rs.2499</span><span style="color:palevioletred;font-size: 12px;">(56% OFF)</span></b>
                <form action="/" method="POST">
                    <input type="hidden" name="cart1" value="1">
                    <input type="hidden" name="cart2" value="Indo Era Kurta">
                    <input type="hidden" name="cart3" value="1099">
                    <input type="hidden" name="cart4" value="2499">
                    <input type="hidden" name="cart5" value="56"> 
                    <input type="hidden" name="cart6" value="/images/x1.webp">
                    <button class="mb-2" type="submit" style="background-color:deeppink;color:white;width:180px;height:40px">Add Whislist</button>
                    </form>
            </div>
          </div>
    </div>

            
    <div class="col-sm-3">
        <div class="card" style="width:230px; height:430px;">
            <div id="myCarousel" class="carousel slide k2" data-interval="1500">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                    <li data-target="#myCarousel" data-slide-to="5"></li>
                  </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="card-img-top" src="/images/a1.webp" alt="img1" style="height: 260px;">
                    </div>
                    <div class="carousel-item">
                      <img class="card-img-top" src="/images/a2.webp" alt="img1" style="height: 260px;">
                    </div>
                    <div class="carousel-item">
                      <img class="card-img-top" src="/images/a3.webp" alt="img1" style="height: 260px;" >
                    </div>
                    <div class="carousel-item">
                        <img class="card-img-top" src="/images/a4.webp" alt="img1" style="height: 260px;">
                      </div>
                      <div class="carousel-item">
                        <img class="card-img-top" src="/images/a5.webp" alt="img1" style="height: 260px;">
                      </div>
                      <div class="carousel-item">
                        <img class="card-img-top" src="/images/a6.webp" alt="img1" style="height: 260px;">
                      </div>
                  </div>
            </div>
            <div class="card-body c1">
              <p class="card-text " id="demo" style="font-size: 13px;"><b>Libas Kurta</b><br>
               </p>
              <p>Sizes:XS,S,M,L,XL,XXL
                <b class="m-0" style="font-size: 15px;">Rs.1000 <span style ="opacity: 0.5; text-decoration: line-through; font-size: 12px;">Rs.2000</span><span style="color:palevioletred;font-size: 12px;">(50% OFF)</span></b>
                <form action="/" method="POST">
                    <input type="hidden" name="cart1" value="2">
                    <input type="hidden" name="cart2" value="Libas Kurta">
                    <input type="hidden" name="cart3" value="1000">
                    <input type="hidden" name="cart4" value="2000">
                    <input type="hidden" name="cart5" value="50"> 
                    <input type="hidden" name="cart6" value="/images/a1.webp">
                    <button class="mb-2" type="submit" style="background-color:deeppink;color:white;width:180px;height:40px">Add Whislist</button>
                    </form>
            </div>
          </div>
    </div>



   


    <div class="col-sm-3">
        <div class="card" style="width:230px; height:430px;">
            <div id="myCarousel" class="carousel slide k3" data-interval="1500">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                   
                  </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="card-img-top" src="/images/b1.webp" alt="img1" style="height: 260px;">
                    </div>
                    <div class="carousel-item">
                      <img class="card-img-top" src="/images/b2.webp" alt="img1" style="height: 260px;">
                    </div>
                    <div class="carousel-item">
                      <img class="card-img-top" src="/images/b3.webp" alt="img1" style="height: 260px;" >
                    </div>
                    <div class="carousel-item">
                        <img class="card-img-top" src="/images/b4.webp" alt="img1" style="height: 260px;">
                      </div>
                      <div class="carousel-item">
                        <img class="card-img-top" src="/images/b5.webp" alt="img1" style="height: 260px;">
                      </div>
                    
                  </div>
            </div>
            <div class="card-body c1">
              <p class="card-text " id="demo" style="font-size: 13px;"><b>Anouk Kurta</b><br>
               </p>
               <p>Sizes:XS,S,M,L,XL,XXL
                <b class="m-0" style="font-size: 15px;">Rs.879 <span style ="opacity: 0.5; text-decoration: line-through; font-size: 12px;">Rs.1599</span><span style="color:palevioletred;font-size: 12px;">(45% OFF)</span></b>
                <form action="/" method="POST">
                    <input type="hidden" name="cart1" value="3">
                    <input type="hidden" name="cart2" value="Anouk Kurta">
                    <input type="hidden" name="cart3" value="879">
                    <input type="hidden" name="cart4" value="1599">
                    <input type="hidden" name="cart5" value="45"> 
                    <input type="hidden" name="cart6" value="/images/b1.webp">
                    <button class="mb-2" type="submit" style="background-color:deeppink;color:white;width:180px;height:40px">Add Whislist</button>
                    </form>
            </div>
          </div>
    </div>



    <div class="col-sm-3">
        <div class="card" style="width:230px; height:430px;">
            <div id="myCarousel" class="carousel slide k4" data-interval="1500">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                    <li data-target="#myCarousel" data-slide-to="5"></li>
                  </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="card-img-top" src="/images/c1.webp" alt="img1" style="height: 260px;">
                    </div>
                    <div class="carousel-item">
                      <img class="card-img-top" src="/images/c2.webp" alt="img1" style="height: 260px;">
                    </div>
                    <div class="carousel-item">
                      <img class="card-img-top" src="/images/c3.webp" alt="img1" style="height: 260px;" >
                    </div>
                    <div class="carousel-item">
                        <img class="card-img-top" src="/images/c4.webp" alt="img1" style="height: 260px;">
                      </div>
                      <div class="carousel-item">
                        <img class="card-img-top" src="/images/c5.webp" alt="img1" style="height: 260px;">
                      </div>
                      <div class="carousel-item">
                        <img class="card-img-top" src="/images/c6.webp" alt="img1" style="height: 260px;">
                      </div>
                  </div>
            </div>
            <div class="card-body c1">
              <p class="card-text " id="demo" style="font-size: 13px;"><b>Janasya Kurta</b><br>
               </p>
               <p>Sizes:XS,S,M,L,XL,XXL
                <b class="m-0" style="font-size: 15px;">Rs.1199 <span style ="opacity: 0.5; text-decoration: line-through; font-size: 12px;">Rs.2999</span><span style="color:palevioletred;font-size: 12px;">(60% OFF)</span></b>
               <form action="/" method="POST">
                <input type="hidden" name="cart1" value="4">
                <input type="hidden" name="cart2" value="Janasya Kurta">
                <input type="hidden" name="cart3" value="1199">
                <input type="hidden" name="cart4" value="2999">
                <input type="hidden" name="cart5" value="60"> 
                <input type="hidden" name="cart6" value="/images/c1.webp">
                <button class="mb-2" type="submit" style="background-color:deeppink;color:white;width:180px;height:40px">Add Whislist</button>
                </form>
            </div>
          </div>
    </div>  
</div>


<div class="row m-5">
   <div class="col-sm-3">
    
        <div class="card" style="width:230px; height:430px;">
            <div id="myCarousel" class="carousel slide k5" data-interval="1500">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                   
                  </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="card-img-top" src="/images/d1.webp" alt="img1" style="height: 260px;">
                    </div>
                    <div class="carousel-item">
                      <img class="card-img-top" src="/images/d2.webp" alt="img1" style="height: 260px;">
                    </div>
                    <div class="carousel-item">
                      <img class="card-img-top" src="/images/d3.webp" alt="img1" style="height: 260px;" >
                    </div>
                    <div class="carousel-item">
                        <img class="card-img-top" src="/images/d4.webp" alt="img1" style="height: 260px;">
                      </div>
                      <div class="carousel-item">
                        <img class="card-img-top" src="/images/d5.webp" alt="img1" style="height: 260px;">
                      </div>
                     
                  </div>
            </div>
            <div class="card-body c1">
              <p class="card-text " id="demo" style="font-size: 13px;"><b>AKS Kurta</b><br>
               </p>
               <p>Sizes:XS,S,M,L,XL,XXL
                <b class="m-0" style="font-size: 15px;">Rs.879 <span style ="opacity: 0.5; text-decoration: line-through; font-size: 12px;">Rs.2199</span><span style="color:palevioletred;font-size: 12px;">(60% OFF)</span></b>
                <form action="/" method="POST">
                    <input type="hidden" name="cart1" value="5">
                    <input type="hidden" name="cart2" value="AKS Kurta">
                    <input type="hidden" name="cart3" value="879">
                    <input type="hidden" name="cart4" value="2199">
                    <input type="hidden" name="cart5" value="60"> 
                    <input type="hidden" name="cart6" value="/images/d1.webp">
                    <button class="mb-2" type="submit" style="background-color:deeppink;color:white;width:180px;height:40px">Add Whislist</button>
                    </form>
            </div>
          </div>
    </div> 
    

    <div class="col-sm-3">
    
        <div class="card" style="width:230px; height:430px;">
            <div id="myCarousel" class="carousel slide k6" data-interval="1500">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                   
                  </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="card-img-top" src="/images/e1.webp" alt="img1" style="height: 260px;">
                    </div>
                    <div class="carousel-item">
                      <img class="card-img-top" src="/images/e2.webp" alt="img1" style="height: 260px;">
                    </div>
                    <div class="carousel-item">
                      <img class="card-img-top" src="/images/e3.webp" alt="img1" style="height: 260px;" >
                    </div>
                    <div class="carousel-item">
                        <img class="card-img-top" src="/images/e4.webp" alt="img1" style="height: 260px;">
                      </div>
                      <div class="carousel-item">
                        <img class="card-img-top" src="/images/e5.webp" alt="img1" style="height: 260px;">
                      </div>
                     
                  </div>
            </div>
            <div class="card-body c1">
              <p class="card-text " id="demo" style="font-size: 13px;"><b>Vishudh Kurta</b><br>
               </p>
              <p>Sizes:XS,S,M,L,XL,XXL
                <b class="m-0" style="font-size: 15px;">Rs.1621 <span style ="opacity: 0.5; text-decoration: line-through; font-size: 12px;">Rs.1299</span><span style="color:palevioletred;font-size: 12px;">(45% OFF)</span></b>
                <form action="/" method="POST">
                    <input type="hidden" name="cart1" value="6">
                    <input type="hidden" name="cart2" value="Vishudh Kurta">
                    <input type="hidden" name="cart3" value="1621">
                    <input type="hidden" name="cart4" value="2999">
                    <input type="hidden" name="cart5" value="45"> 
                    <input type="hidden" name="cart6" value="/images/e1.webp">
                    <button class="mb-2" type="submit" style="background-color:deeppink;color:white;width:180px;height:40px">Add Whislist</button>
                    </form>
            </div>
          </div>
    </div>
    
    <div class="col-sm-3">
    
        <div class="card" style="width:230px; height:430px;">
            <div id="myCarousel" class="carousel slide k7" data-interval="1500">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                  
                   
                  </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="card-img-top" src="/images/f1.webp" alt="img1" style="height: 260px;">
                    </div>
                    <div class="carousel-item">
                      <img class="card-img-top" src="/images/f2.webp" alt="img1" style="height: 260px;">
                    </div>
                    <div class="carousel-item">
                      <img class="card-img-top" src="/images/f3.webp" alt="img1" style="height: 260px;" >
                    </div>
                    <div class="carousel-item">
                        <img class="card-img-top" src="/images/f4.webp" alt="img1" style="height: 260px;">
                      </div>
                     
                  </div>
            </div>
            <div class="card-body c1">
              <p class="card-text " id="demo" style="font-size: 13px;"><b>Libba Kurta</b><br>
               </p>
               <p>Sizes:XS,S,M,L,XL,XXL
                <b class="m-0" style="font-size: 15px;">Rs.989 <span style ="opacity: 0.5; text-decoration: line-through; font-size: 12px;">Rs.2199</span><span style="color:palevioletred;font-size: 12px;">(55% OFF)</span></b>
                <form action="/" method="POST">
                    <input type="hidden" name="cart1" value="7">
                    <input type="hidden" name="cart2" value="Libba Kurta">
                    <input type="hidden" name="cart3" value="989">
                    <input type="hidden" name="cart4" value="2199">
                    <input type="hidden" name="cart5" value="55"> 
                    <input type="hidden" name="cart6" value="/images/f1.webp">
                    <button class="mb-2" type="submit" style="background-color:deeppink;color:white;width:180px;height:40px">Add Whislist</button>
                    </form>
            </div>
          </div>
    </div> 

    <div class="col-sm-3">
    
        <div class="card" style="width:230px; height:430px;">
            <div id="myCarousel" class="carousel slide k8" data-interval="1500">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                   
                  </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="card-img-top" src="/images/g1.webp" alt="img1" style="height: 260px;">
                    </div>
                    <div class="carousel-item">
                      <img class="card-img-top" src="/images/g2.webp" alt="img1" style="height: 260px;">
                    </div>
                    <div class="carousel-item">
                      <img class="card-img-top" src="/images/g3.webp" alt="img1" style="height: 260px;" >
                    </div>
                    <div class="carousel-item">
                        <img class="card-img-top" src="/images/g4.webp" alt="img1" style="height: 260px;">
                      </div>
                      <div class="carousel-item">
                        <img class="card-img-top" src="/images/g5.webp" alt="img1" style="height: 260px;">
                      </div>
                     
                  </div>
            </div>
            <div class="card-body c1">
              <p class="card-text " id="demo" style="font-size: 13px;"><b>Nayo Kurta</b><br>
               </p>
               <p>Sizes:XS,S,M,L,XL,XXL
                <b class="m-0" style="font-size: 15px;">Rs.755 <span style ="opacity: 0.5; text-decoration: line-through; font-size: 12px;">Rs.1799</span><span style="color:palevioletred;font-size: 12px;">(58% OFF)</span></b>
                <form action="/" method="POST">
                    <input type="hidden" name="cart1" value="8">
                    <input type="hidden" name="cart2" value="Nayo Kurta">
                    <input type="hidden" name="cart3" value="755">
                    <input type="hidden" name="cart4" value="1799">
                    <input type="hidden" name="cart5" value="58"> 
                    <input type="hidden" name="cart6" value="/images/g1.webp">
                    <button class="mb-2" type="submit" style="background-color:deeppink;color:white;width:180px;height:40px">Add Whislist</button>
                    </form>
            </div>
          </div>
    </div> 

    
    
    


</div>
<br><br><br><br><br>




<%- include("footer") -%>