<%- include("header") -%>
<nav class="navbar navbar-expand-lg">
    <a href=""><img src="/images/1.webp" style="height:100px;width:100%  "></a>
    </nav>
    
    <div class="row">
    <div class="col-xl-3  part1">
    <a href=""><img src="/images/2.webp" style="height:37%;width:100%  "></a>
    <a href=""><img src="/images/9.webp" style="height:37%;width:100%  "></a>
    <a href=""><img src="/images/10.webp" style="height:36%;width:100%  "></a>
    </div>
    <div class="col-xl-5 part2">
    <div class="row paddingbetween">
    <div class="col-xl-6 paddingbetween">
    <a href=""><img src="/images/3.webp" style="height:200px;width:100%  "></a>
    <a href=""><img src="/images/5.webp"style="height=50px;width:100%  " ></a>
    <a href=""><img src="/images/7.webp" style="height=100px;width:100%  "></a>
    </div>
    <div class="col-xl-6 paddingbetween"> 
    <a href=""><img src="/images/4.webp" style="height:200px;width:100%  "></a>
    <a href=""><img src="/images/6.webp"style="height=50px;width:100%  " ></a>
    <a href=""><img src="/images/8.webp" style="height=100px;width:100%  "></a>
        </div>
    </div>
    </div>
    <div class="col-xl-4 part2">
    <a href=""><img src="/images/11.webp" style="height:35%px;width:90%  "></a>
    <a href=""><img src="/images/12.webp"style="height:35%;width:90%  " ></a>
    <a href=""><img src="/images/13.webp" style="height=35%;width:90%  "></a>
    </div>
    </div>
     <div class="row mt-5">
     <div id="myimages" class="carousel slide " data-ride="carousel" data-interval="1000">
                <ol class="carousel-indicators">
          <li data-target="#myimages" data-slide-to="0" class="active"></li>
          <li data-target="#myimages" data-slide-to="1"></li>
          <li data-target="#myimages" data-slide-to="2"></li>
        </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/14.webp" style="width:100%;">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/15.webp" style="width:100%;">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/16.webp" style="width:100%;">
                    </div>
                    
                </div>
                <a href="#myimages" data-slide="prev" class="carousel-control-prev"><i class="fas fa-chevron-left"></i></a>
                <a href="#myimages" data-slide="next" class="carousel-control-next"><i class="fas fa-chevron-right"></i></a>
            </div>
    </div>
    <div class="row">
    <div class="col-xl-3">
    <a href=""><img src="/images/17.webp"style="width:100%;" ></a></div>
    <div class="col-xl-3"><a href=""><img src="/images/18.webp" style="width:100%;" ></a></div>
    <div class="col-xl-3"><a href=""><img src="/images/19.webp" style="width:100%;"></a></div>
    <div class="col-xl-3"><a href=""><img src="/images/20.webp" style="width:100%;"></a>
    
    </div>
    </div>
    <div class="row">
    <a href=""><img src="/images/21.webp"style="width:100%;" ></a></div>
    </div>
    <div class="row">
    <div class="col-xl-3">
    <a href=""><img src="/images/22.webp" ></a></div>
    <div class="col-xl-3">
    <a href=""><img src="/images/23.webp" ></a></div>
    <div class="col-xl-3">
    <a href=""><img src="/images/24.webp" ></a></div>
    <div class="col-xl-3">
    <a href=""><img src="/images/25.webp" ></a></div>
    </div>
        
    <div class="row">
    <div class="col-xl-3">
    <a href=""><img src="/images/26.webp"style="width:100%;" ></a></div>
    <div class="col-xl-3">
    <a href=""><img src="/images/27.webp"style="width:100%;" ></a></div>
    <div class="col-xl-3">
    <a href=""><img src="/images/28.webp"style="width:100%;" ></a></div>
    <div class="col-xl-3">
    <a href=""><img src="/images/29.webp"style="width:100%;" ></a></div>
    </div>
    <div class="row">
    <center>
    <a href=""><img src="/images/30.webp" style="width:100%;" ></a></div>
    </div>
    <div class="row paddingbetween">
    <div class="col-xl-3 paddingbetween">
    <a href=""><img src="/images/31.webp" style="width:100%;" ></a></div>
    <div class="col-xl-3 paddingbetween">
    <a href=""><img src="/images/32.webp" style="width:100%;" ></a></div>
    <div class="col-xl-3 paddingbetween">
    <a href=""><img src="/images/33.webp" style="width:100%;" ></a></div>
    <div class="col-xl-3 paddingbetween"
    <a href=""><img src="/images/34.webp" style="width:100%;" ></a></div>
    </div>
    <div class="row paddingbetween">
    <div class="col-xl-3 paddingbetween">
    <a href=""><img src="/images/35.webp" style="width:100%;" ></a></div>
    <div class="col-xl-3 paddingbetween">
    <a href=""><img src="/images/36.webp" style="width:100%;" ></a></div>
    <div class="col-xl-3 paddingbetween">
    <a href=""><img src="/images/37.webp" style="width:100%;" ></a></div>
    <div class="col-xl-3 paddingbetween"
    <a href=""><img src="/images/38.webp" style="width:100%;" ></a></div>
    </div>
    <div class="row paddingbetween">
    <div class="col-sm-2 paddingbetween">
    <a href=""><img src="/images/42.webp" style="width:100%;" ></a></div>
    <div class="col-sm-2 paddingbetween">
    <a href=""><img src="/images/39.webp" style="width:100%;" ></a></div>
    <div class="col-sm-2 paddingbetween">
    <a href=""><img src="/images/40.webp" style="width:100%;" ></a></div>
    <div class="col-sm-2 paddingbetween"
    <a href=""><img src="/images/41.webp" style="width:100%;" ></a></div>
    <div class="col-sm-2 paddingbetween">
    <a href=""><img src="/images/50.jpg" style="width:100%;" ></a></div>
    <div class="col-sm-2 paddingbetween" >
    <a href=""><img src="/images/43.jpg" style="width:100%; height:100%" ></a>
    </div>
    
    </div>
    <div class="row">
    <center>
    <a href=""><img src="/images/44.webp" style="width:100%;" ></a></div>
    </div>

<%- include("footer") -%>